.products{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15141C;
    font-style: normal;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    color: #fff;
    overflow: hidden;

    .main-cont{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        flex-direction: column;

        @media (max-width: 1250px) {
            width: 90%;
        }


        .header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;

            .heading{
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;

                p{
                    font-size: 10px;
                    color: #B72222;
                }

                h4{
                    font-size: 40px;

                    @media (max-width: 850px) {
                        font-size: 30px;
                    }

                    @media (max-width: 500px) {
                        font-size: 20px;
                    }
                }
            }

            .right-side{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 62px;

                @media (max-width: 850px) {
                    height: 50px;
                }

                @media (max-width: 500px) {
                    height: 40px;
                }

                button{
                    background-color: transparent;
                    color: #fff;
                    outline: none;
                    border: 1px solid #aaa;

                    &:nth-child(1){
                        width: 133px;
                        height: 100%;

                        @media (max-width: 850px) {
                            width: 100px;
                        }

                        @media (max-width: 500px) {
                            width: 80px;
                        }
                    }

                    &:nth-child(2){
                        width: 70px;
                        height: 100%;

                        @media (max-width: 850px) {
                            width: 50px;
                        }

                        @media (max-width: 500px) {
                            width: 40px;
                        }
                    }
                }
            }
        }

        .product-cont{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;

            .product{
                width: 32%;
                height: 375px;
                background-color: #1D1C24;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                @media (max-width: 1110px) {
                    width: 31.5%;
                }

                @media (max-width: 810px) {
                    width: 30%;
                    height: 300px;
                }

                @media (max-width: 600px) {
                    width: 48%;
                }

                @media (max-width: 560px) {
                    width: 47%;
                    height: 250px;
                }

                @media (max-width: 370px) {
                    width: 46.5%;
                    height: 200px;
                }

                
                

                img{
                    object-fit: contain;
                    width: 200px;
                    height: 200px;

                    @media (max-width: 810px) {
                        width: 150px;
                        height: 150px;
                    }

                    @media (max-width: 560px) {
                        width: 120px;
                        height: 120px;
                    }

                    @media (max-width: 370px) {
                        width: 100px;
                        height: 100px;
                    }
                }

                .product-info{
                    position: absolute;
                    left:20px;
                    bottom: 20px;

                    @media (max-width: 370px) {
                        bottom: 5px;
                    }

                    h4{
                        font-size: 15px;

                        @media (max-width: 500px) {
                            font-size: 13px;
                        }
                    }

                    p{
                        color: #B72222;
                        font-size: 15px;

                        @media (max-width: 500px) {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}