.founder{
    width: 100vw;
    position: relative;
    background-color: #15141C;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-style: normal;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;

    .contInfo{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1020px) {
            width: 90%;
        }

        @media (max-width: 800px) {
            flex-direction: column;
            margin-top: 50px;
        }

        .info{
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            

            h3{
                color: #fff;
                font-size: 50px;
                margin-bottom: 20px;

                @media (max-width: 1250px) {
                    font-size: 45px;
                }

                @media (max-width: 1020px) {
                    font-size: 30px;
                }

                @media (max-width: 800px) {
                    font-size: 40px;
                }

                @media (max-width: 460px) {
                    font-size: 30px;
                }

                span{
                    font-weight: 400;
                }
            }

            p{
                color: #C1C1C1;
                margin-right: 50px;
                font-size: 15px;

                @media (max-width: 840px) {
                    width: 100%;
                }
            }
            
        }

        .pic{
            border:10px solid #B72222;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 800px) {
                margin-top: 30px;
            }

            img{    

                @media (max-width: 1020px) {
                    width: 350px;
                    height: 350px;
                }

                @media (max-width: 1020px) {
                    width: 400px;
                    height: 400px;
                }

                @media (max-width: 460px) {
                    width: 300px;
                    height: 300px;
                }
                    
            }
        }
    }
}