.export{
    width: 100vw;
    position: relative;
    background-color: #15141C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    font-style: normal;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;


    .export-head{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        color: #fff;
        margin-top: 100px;

        @media (max-width: 500px) {
            width: 90%;
        }
        
        h2{
            font-weight: 700;
            font-size: 70px;

            @media (max-width: 850px) {
                font-size: 50px;
            }

            @media (max-width: 700px) {
                font-size: 40px;
            }

            @media (max-width: 500px) {
                font-size: 30px;
            }

            @media (max-width: 450px) {
                font-size: 25px;
            }

        }
        p{
            text-align: center;
            font-size: 13px;
            margin: 0 50px;
            color: #C1C1C1;
            width: 50%;

            @media (max-width: 850px) {
                width: 60%;
            }

            @media (max-width: 700px) {
                width: 70%;
            }

            @media (max-width: 500px) {
                width: 80%;
            }
        }
    }

    .export-map{
        width: 100%;
        object-fit: cover;
        margin-top: 20px;
        

        img{
            position: relative;
            width: 99%;
        }

        .country{
            position: absolute;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;

            img{
                width: 30px;

                @media (max-width: 1000px) {
                    width: 25px;
                }

                @media (max-width: 1000px) {
                    width: 20px;
                }

                @media (max-width: 850px) {
                    width: 15px;
                }
    
                @media (max-width: 700px) {
                    width: 10px;
                }
            }

            p{
                
                @media (max-width: 950px) {
                    display: none;
                }
            }
        }
        

        .export-dots-abd{
            top: 29%;
            left: 20%;

            p{
                position: absolute;
                left: 40px;
                font-size: 10px;
                width: 130px;
            }

        }
        .export-dots-en{
            top: 20%;
            left: 42.5%;

            p{
                position: absolute;
                left: -40px;
                top: -5px;
                font-size: 10px;
            }
            
        }
        .export-dots-fr{
            top: 25%;
            left: 43.3%;

            p{
                position: absolute;
                left: -40px;
                font-size: 10px;
            }
            
        }
        .export-dots-sp{
            top: 29%;
            left: 42%;

            p{
                position: absolute;
                left: -40px;
                font-size: 10px;
            }
            
        }
        .export-dots-alg{
            top: 35%;
            left: 43%;

            p{
                position: absolute;
                left: -40px;
                font-size: 10px;
            }
        }
        .export-dots-itl{
            top: 30%;
            left: 46.4%;
            p{
                position: absolute;
                left: -30px;
                font-size: 10px;
            }
        }
        .export-dots-slo{
            top: 26%;
            left: 48%;

            p{
                position: absolute;
                left: 35px;
                font-size: 10px;
            }
        }
        .export-dots-ger{
            top: 20%;
            left: 48.5%;

            p{
                position: absolute;
                left: 35px;
                font-size: 10px;
            }
        }
        .export-dots-den{
            top: 19%;
            left: 46.5%;

            p{
                position: absolute;
                top: -15px;
                font-size: 10px;
            }
        }
        .export-dots-nth{
            top: 21%;
            left:44.7%;

            p{
                position: absolute;
                top: -15px;
                font-size: 10px;
            }
        }
        .export-dots-line{
            top: 10%;
            left:21%;
            width: 31%;

            img{
                width:100%;
            }
            
        }

        .export-general{
            top: 30%;
            left:51%;

            span{
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-style: normal;
            }

            p{
                position: absolute;
                left: 35px;
                font-size: 10px;
            }
            

            img{
                width: 50px;

                @media (max-width: 850px) {
                    width: 40px;
                }
    
                @media (max-width: 700px) {
                    width: 35px;
                }
    
                @media (max-width: 500px) {
                    width: 30px;
                }
            }
        }
        
    }
}


/* .export{
    width: 100vw;
    position: relative;
    background-color: #15141C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    font-style: normal;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;


    .export-head{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60%;
        color: #fff;
        margin-top: 100px;
        

    

        h2{
            font-weight: 700;
            font-size: 70px;
        }
        p{
            text-align: center;
            font-size: 13px;
            margin: 0 50px;
            color: #C1C1C1;
        }
    }

    .export-map{
        width: 100%;
        height: 100vh;
        background-image: url("../../assets/OBJECTS.png") !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top: 0px;
        position: relative;

        .country{
            position: absolute;
            width: 30px;

            img{
                
                width: 30px;
            }
        }
        

        .export-dots-abd{
            top: 180px;
            left: 320px;

        }
        .export-dots-en{
            top: 150px;
            left: 620px;
            
        }
        .export-dots-fr{
            top: 180px;
            left: 630px;
            
        }
        .export-dots-sp{
            top: 210px;
            left: 610px;
            
        }
        .export-dots-alg{
            top: 230px;
            left: 640px;
        }
        .export-dots-itl{
            top: 210px;
            left: 690px;
        }
        .export-dots-slo{
            top: 190px;
            left: 720px;
        }
        .export-dots-ger{
            top: 160px;
            left: 730px;
        }
        .export-dots-den{
            top: 150px;
            left:695px;
        }
        .export-dots-nth{
            top: 155px;
            left:655px;
        }
        .export-dots-line{
            top: 80px;
            left:330px;

            img{
                width:450px;
            }
            
        }

        .export-general{
            top: 190px;
            left:750px;

            img{
                width: 50px;
            }
        }
        
    }
} */