.intro{
    position: relative;
    margin-top: -100px;
    overflow: hidden;
    height: 100vh;


    @media (max-width: 800px) {
        height: 80vh;
    }

/*     background-image: url("../../assets/factory.png") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    

    img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }

    video{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }
    

    .bgImg{
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #000, transparent, #000);
        opacity: 0.5;
        position: absolute;
        top: 0; 
        left: 0;
    }

    .slogan{
        color: #fff;
        width: 800px;
        font-style: normal;
        font-family: "Space Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        margin-top: -150px;

        @media (max-width: 850px) {
            margin-top: -380px;
            margin-left: -50px;
        }

        @media (max-width: 470px) {
            margin-left: -80px;
        }

        @media (max-width: 400px) {
            margin-left: -90px;
        }

        h1{
            position: absolute;
            font-size: 80px;
            bottom: 40%;
            left: 15%;

            @media (max-width: 1100px) {
                font-size: 60px;
            }

            @media (max-width: 1000px) {
                font-size: 50px;
            }

            @media (max-width: 575px) {
                font-size: 40px;
            }
        }

        p{
            position: absolute;
            left: 15%;
            font-size: 16px;
            font-weight: 400;

            @media (max-width: 575px) {
                font-size: 13px;
            }
        }
        
    }

    .fifty-years{
        position: absolute;
        bottom: 10%;
        right: 10%;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        z-index: 111;
        width: 200px;
        height: 100px;

        @media (max-width: 850px) {
            bottom: 3%;
            left: 0;
            margin-left: 55px;
        }

        @media (max-width: 470px) {
            margin-left: 20px;
        }

        @media (max-width: 400px) {
            margin-left: 10px;
        }


        .icons{
            display: flex;
            justify-content: end;
            align-items: center;
            width: 200px;
            height: 100px;
            margin-right: -100px;

            @media (max-width: 1100px) {
                width: 150px;
                height: 75px;
                margin-right: -150px;
            }

            @media (max-width: 850px) {
                margin-left: -200px;
                width: 120px;
                height: 80px;
            }

            .icon{
                display: flex;
                justify-content: end;
                position: relative;
                margin-bottom: 10px;
                object-fit: contain;
                width: 100%;
                height: 100%;
            }

            .title{
                top: 0px;
                left: 100px;
                font-size: 15px;

                @media (max-width: 1100px) {
                    left: 70px;
                    font-size: 10px;
                }
    
                @media (max-width: 850px) {
                    top: 5px;
                    left: 60px;
                }

            }

        }

        p{
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 15px;
            text-align: right;
            letter-spacing: 0px;

            @media (max-width: 1100px) {
               font-size: 13px;
            }

            @media (max-width: 850px) {
                margin-left: 10px;
            }
        }


    }
    
}

/* .intro{
    background-image: linear-gradient(
  0deg,
  hsl(0deg 0% 0%) 0%,
  hsl(344deg 0% 17%) 9%,
  hsl(344deg 0% 34%) 18%,
  hsl(344deg 0% 51%) 27%,
  hsl(344deg 0% 70%) 36%,
  hsl(344deg 0% 90%) 45%,
  hsl(344deg 0% 90%) 54%,
  hsl(344deg 0% 70%) 63%,
  hsl(344deg 0% 51%) 72%,
  hsl(344deg 0% 34%) 82%,
  hsl(344deg 0% 17%) 91%,
  hsl(0deg 0% 0%) 100%
);
    position: relative;
    margin-top: -100px;
    height: 100vh;

    .bgImg{
        background-image: url("../../assets/factory.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        opacity: 0.5;

        
    }

    .slogan{
        position: absolute;
        bottom: 150px;
        left: 100px;
        color: #fff;
        width: 50%;
        font-style: normal;
        font-family: "Space Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
  

        h1{
            font-size: 80px;
        }

        p{
            font-size: 16px;
            font-weight: 400;
        }
        
    }

    .fifty-years{
        position: absolute;
        bottom: 50px;
        right: 100px;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        z-index: 111;

        .icons{
            display: flex;
            justify-content: end;
            align-items: center;
            width: 100%;

            .icon{
                display: flex;
                justify-content: end;
                position: relative;
                width: 150px;
                margin-bottom: 10px;
            }

        }

        p{
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 15px;
            text-align: right;
            letter-spacing: 0px;
        }


    }
    
} */